:root {
  --amarillo-oscuro: #e6b800;
  --amarillo-claro: #ffde59;
  --verde-oscuro: #3dad0e;
  --verde-claro: #7ed958;
  --azul-oscuro: #0a3269;
  --azul-claro: #0049af;
}

body {
  margin: 0;
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 125px;
  padding-top: 20px;
  margin-bottom: 40px;
}
.header-area .top-header {
  width: 100%;
  height: 95px;
}

.login-button {
  font-weight: 600;
  text-decoration: none;
  color: #141414;
}
.login-button:hover {
  color: var(--azul-claro);
}
.logo-content {
  width: 120px;
}
.logo-link .logo {
  width: 100%;
}

/* Navegacion */
.navigation,
.navigation-responsive {
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 50;
  color: #000;
  align-content: center;
  justify-content: center;
}
.navigation .left-side,
.navigation-responsive .left-side {
  width: 50%;
  background-color: #fff;
}

.navigation .right-side,
.navigation-responsive .right-side {
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  background: var(--verde-claro);
  background: -webkit-linear-gradient(
    to left,
    var(--verde-claro),
    var(--verde-claro)
  );
  background: linear-gradient(to left, var(--verde-claro), var(--verde-oscuro));
  width: 30%;
  font-size: 14px;
  font-weight: 700;
}
/* .navigation .left-side:after {
  position: absolute;
  width: 50px;
  height: 120%;
  top: -20px;
  left: 782px;
  z-index: 20;
  background-color:#fff;
  content: "";
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
} */
.navigation .right-side .icon-phone,
.navigation-responsive .right-side .icon-phone {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 16px;
}
.navigation .right-side .phone {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

.navigation .left-side .lista-enlace {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navigation .left-side .lista-enlace .lista-item {
  margin: 4%;
  list-style: none;
  color: #000;
}

.navigation .left-side .lista-enlace .lista-item .item-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  text-transform: uppercase;
}
.navigation .left-side .lista-enlace .lista-item .item-link:hover {
  color: var(--azul-claro);
}
/* Navigation Responsive */
.navigation-responsive {
  display: none;
}
/* Navegacion Izquierda */
.navigation-left {
  display: none;
}
.moverDerecha {
  transition: all 0.5s;
  left: 0px;
}
.moverIzquierda {
  left: -200px;
  transition: all 0.5s;
}
.fijar-nav {
  position: fixed !important;
  top: 0 !important;
}

.fijar-nav .right-side {
  width: 40%;
}

.fijar-nav .left-side {
  width: 60%;
}

/* Footer */

.footer {
  background-color: var(--azul-oscuro);
  background: -webkit-linear-gradient(
    to left,
    var(--azul-claro),
    var(--azul-claro)
  );
  background: linear-gradient(to left, var(--azul-claro), var(--azul-oscuro));
  display: flex;
  margin: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.footer .img-logo {
  width: 100px;
}
.sombra-blanca {
  box-shadow: 0px 0px 5px 5px #fff;
  border-radius: 4px;
}
.footer-social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-social-list a,
.footer-contact svg {
  color: var(--verde-oscuro);
}
.footer-social-list a:hover,
.footer-contact svg:hover {
  color: var(--verde-claro);
}
.footer-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-text {
  margin-top: 10px;
  font-size: 14px;
}
.footer-links-list .footer-links-list-item a {
  text-decoration: none;
  color: #fff;
}
.footer-subtitle {
  margin-bottom: 40px;
}

.ftr__list {
  list-style: none;
  padding-left: 0;
}

/*Inicio de estilos de Sobre Nosotros, Contactanos, Register and Login*/
.Badge__container {
  width: 100%;
  height: 12.5rem;
  background: url("./images/breadcumb.jpg"), #1b1b25;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 9rem;
  display: flex;
  justify-content: center;
}

.Box {
  width: 17.5rem;
  height: 6.85rem;
  color: #ffffff;
  background: linear-gradient(to left, var(--verde-claro), var(--verde-oscuro));
  position: absolute;
  top: 19.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__container {
  font-size: 14px;
  color: #606060;
  margin-top: 4.5rem;
}

.Main__container {
  margin-left: 11.5rem;
  margin-right: 11.5rem;
  font-family: "Montserrat", sans-serif;
}

.card__teacher {
  width: 17.6rem;
  margin: 0 auto;
}

.btn__more {
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--verde-oscuro) 0%,
    var(--amarillo-claro) 51%,
    var(--verde-oscuro) 100%
  );
  outline: none;
  font-weight: bold;
}
.btn__more:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.map__contact {
  height: 15rem;
}

.content__icons {
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cts__icons {
  color: var(--verde-oscuro);
  margin-right: 1.5rem;
}

.cts__icons-unique {
  color: var(--verde-oscuro);
  margin-right: 1rem;
}

.cts__icons:hover {
  color: var(--azul-claro);
}

.cts__parrafo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cts__content {
  padding: 3rem 1rem;
  background: #eef3f6;
}

.cts__form {
  padding: 2.7rem 1rem 0 1rem;
  height: 600px;
  background: #ffffff;
  border: 4px double var(--amarillo-oscuro);
}

.cts__form-control {
  background: #eef3f6;
  padding: 0.8rem;
}

.cts__form-control:focus {
  background: #eef3f6;
}
/**
* Estilos de Register
*/
.rgt__main {
  background: linear-gradient(
    to bottom right,
    var(--azul-oscuro),
    var(--azul-claro)
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__form {
  width: 30rem;
  height: 30rem;
  overflow: auto;
}

.content__Login {
  width: 25rem;
  height: 37rem;
  overflow-x: hidden;
}

.rgt__img {
  width: 2rem;
  height: 2rem;
}

.rgt__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.rgt__header:hover {
  color: #000000;
}

.rgt__title {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.rgt__form-control {
  background: #eef3f6;
}

.rgt__form-control:focus {
  background: #eef3f6;
}

.rgt__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-instagram {
  transition: all 5s;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: #ffffff;
}

.btn-instagram:hover {
  color: #ffffff;
  background: -moz-linear-gradient(
    45deg,
    #b97327 0%,
    #bd532d 25%,
    #ad2035 50%,
    #a51d53 75%,
    #a11675 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #b97327 0%,
    #bd532d 25%,
    #ad2035 50%,
    #a51d53 75%,
    #a11675 100%
  );
  background: linear-gradient(
    45deg,
    #b97327 0%,
    #bd532d 25%,
    #ad2035 50%,
    #a51d53 75%,
    #a11675 100%
  );
}

.line__login {
    position: relative;
    font-family: 'cooper_hewittmedium';
    padding: 5px 12px;
    font-weight: 600;
    color: #273b47;
    font-size: 20px;
}

.line__login::before {
  content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 5000px;
    border-bottom: 1px solid #e4e4e4;
}

.line__login::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 5000px;
    border-bottom: 1px solid #e4e4e4;
}

@media only screen and (min-width: 769px) {
  .Box {
    width: 31.25rem;
  }
  .map__contact {
    height: 28.125rem;
  }
  .cts__content {
    padding: 6.5rem 2rem;
  }
  .cts__icons {
    margin-right: 3rem;
  }
  .btn__more {
    padding: 15px 45px;
  }
}

@media only screen and (max-width: 1024px) {
  .content__Login {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  .content__form {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .Main__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*Fin de estilos de Sobre Nosotros, Contactanos, Register and Login*/

/* Estilos del Home */

/* Carrousel */
.btn__carrusel-next {
  right: 0;
}
.btn__carrusel-prev {
  left: 0;
}
.btn__carrusel-prev,
.btn__carrusel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  /* opacity: 0.5; */
}

.icon__carrusel {
  width: 56px !important;
  height: 56px !important;
  background-color: var(--verde-claro);
  background: -webkit-linear-gradient(
    to left,
    var(--verde-claro),
    var(--verde-claro)
  );
  background: linear-gradient(to left, var(--verde-claro), var(--verde-oscuro));
  opacity: 1;
  transition: all 0.5s;
}
.icon__carrusel:hover {
  background: #141414;
  transition: all 0.5s;
}
.desaparecer {
  transition: all 0.5s;
  opacity: 0;
}
.carrousel-text {
  position: absolute;
  top: 0%;
  left: 19%;
  right: 19%;
  bottom: 0%;
  color: #fff;
}
.carrousel-item {
  background-position: center;
  background-size: cover;
}
.carrousel-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.carrousel-subtitle {
  font-weight: 700;
  font-size: 3.75rem;
  width: 50%;
}
/* Caracteristicas */
.caracteristicas {
  position: absolute;
  top: 44rem;
  height: 120px;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  background: var(--verde-claro);
  background: -webkit-linear-gradient(
    to left,
    var(--verde-claro),
    var(--verde-claro)
  );
  background: linear-gradient(to left, var(--verde-claro), var(--verde-oscuro));
}
.caracteristicas-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 40%;
}
.caracteristicas-text {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.caracteristicas-item:first-child {
  border-right: #fff solid 2px;
}
.caracteristicas-item:last-child {
  border-left: #fff solid 2px;
}

/* Cursos */

.icon-curso-container {
  font-size: 40px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background: var(--verde-claro);
  background: -webkit-linear-gradient(
    to left,
    var(--verde-claro),
    var(--verde-claro)
  );
  background: linear-gradient(to left, var(--verde-claro), var(--verde-oscuro));
}
.lista-cursos {
  margin-top: 90px;
  margin-bottom: 90px;
}
.curso-item {
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.curso-title {
  font-size: 24px;
  width: 100%;
  color: #242424;
  font-weight: 700;
  transition: all 0.5s;
}
.curso-title:hover {
  color: var(--verde-oscuro);
  transition: all 0.5s;
}
.curso-descripcion {
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

/* Opiniones */
.opinions {
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
}
.opinions::after {
  background-color: rgba(0, 0, 0, 0.88);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.opinions-heading {
  margin-bottom: 80px;
  color: #fff;
  text-align: center;
  justify-self: center;
}

.opinions-heading h3 {
  font-size: 34px;
  font-weight: 600;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.opinions-heading span {
  display: block;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.opinion-item {
  color: #fff;
  margin-bottom: 10rem;
  transition: all 0.5s;
}

.opinion-item:hover .avatar {
  transition: all 0.5s;
  border: var(--verde-claro) solid 2px;
}
.opinion-item:hover h4 {
  transition: all 0.5s;
  color: var(--verde-claro);
}
.opinion-item h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
.opinion-item p {
  font-size: 14;
  line-height: 2;
  font-weight: 500;
}
.opinion-item h6 {
  font-size: 15px;
  font-weight: 500;
}
.opinion-item h6 span {
  color: var(--verde-oscuro);
  font-size: 15px;
  font-weight: 500;
}
.avatar {
  border-radius: 50%;
  height: 0%;
  width: 4rem;
  margin-right: 50px;
}
/* Fin opiniones */
/* Top Cursos */
.top-cursos {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.top-cursos-heading {
  color: #000;
  margin-bottom: 80px;
  text-align: center;
  justify-self: center;
}
.top-cursos-heading h3 {
  font-size: 34px;
  font-weight: 600;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.top-cursos-heading span {
  display: block;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.top-cursos-item {
  margin-bottom: 30px;
  background-color: #eef3f6;
}
.top-cursos-item .info {
  width: 54%;
  padding: 30px;
}
.top-cursos-item .info h5 {
  font-size: 18px;
  font-weight: 500;
  color: #242424;
}
.top-cursos-item .info .autor {
  font-size: 12px;
  color: var(--verde-claro);
}
.top-cursos-item .info .curso-description {
  margin-top: 30px;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  color: #606060;
}
.top-cursos-item .img {
  width: 46%;
  height: 360px;
  background-position: center;
  background-size: cover;
}
/* Fin Top Cursos */
@media only screen and (max-width: 1024px) {
  .caracteristicas-text {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
  .navigation-responsive {
    display: flex;
    position: absolute;
    top: 121px;
    left: 0;
    right: 0;
  }
  .navigation-responsive .right-side .phone {
    display: none;
  }
  .navigation-responsive .right-side {
    width: 40%;
  }
  .navigation-responsive .left-side {
    width: 40%;
  }
  .fijar-nav .right-side {
    width: 40%;
  }

  .fijar-nav .left-side {
    width: 60%;
  }
  .navigation-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
    background-color: #fff;
  }
  .navigation-left .navigation-list {
    padding: 0;
    list-style: none;
  }
  .navigation-left .navigation-list .item-list {
    padding: 20px 10px 20px 20px;
  }

  .navigation-left .navigation-list .item-list .item-link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  .icon__carrusel {
    width: 35px;
    height: 35px;
  }
  .carrousel-title {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .carrousel-subtitle {
    font-weight: 700;
    font-size: 2rem;
  }
  .caracteristicas {
    height: 180px;
    top: 42rem;
  }
  .fila {
    flex-direction: column;
  }
  .caracteristicas-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .caracteristicas-text {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .caracteristicas-item:first-child {
    border-right: none;
    border-bottom: #fff solid 2px;
  }
  .caracteristicas-item:last-child {
    border-left: none;
    border-top: #fff solid 2px;
  }
  .curso-title {
    font-size: 16px;
  }
  .top-cursos-item {
    flex-direction: column;
    width: 100%;
  }
  .top-cursos-item .info {
    width: 100%;
  }
  .top-cursos-item .img {
    width: 100%;
    height: 250px;
  }
}

/* Fin de Estilos del Home */

/* ESTILOS LOADER */
.loader {
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid var(--azul-claro);
  border-right: 16px solid var(--verde-oscuro);
  border-bottom: 16px solid var(--amarillo-oscuro);
  width: 120px;
  height: 120px;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

.PageLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* FIN ESTILOS LOADER */